/old_files

# /105_classes_pins_dataset/pins_Adriana Lima

/105_classes_pins_dataset/pins_Millie Bobby Brown
/105_classes_pins_dataset/pins_Morena Baccarin
/105_classes_pins_dataset/pins_Morgan Freeman
/105_classes_pins_dataset/pins_Nadia Hilker
/105_classes_pins_dataset/pins_Natalie Dormer
/105_classes_pins_dataset/pins_Natalie Portman
/105_classes_pins_dataset/pins_Neil Patrick Harris
/105_classes_pins_dataset/pins_Pedro Alonso
/105_classes_pins_dataset/pins_Penn Badgley
/105_classes_pins_dataset/pins_Rami Malek
/105_classes_pins_dataset/pins_Rebecca Ferguson
/105_classes_pins_dataset/pins_Richard Harmon
/105_classes_pins_dataset/pins_Rihanna
